
SPAdes-4.0.0-Linux/bin/__pycache__/spades_init.cpython-310.pyc
SPAdes-4.0.0-Linux/bin/__pycache__/spades_init.cpython-37.pyc
SPAdes-4.0.0-Linux/bin/binspreader
SPAdes-4.0.0-Linux/bin/coronaspades.py
SPAdes-4.0.0-Linux/bin/metaplasmidspades.py
SPAdes-4.0.0-Linux/bin/metaspades.py
SPAdes-4.0.0-Linux/bin/metaviralspades.py
SPAdes-4.0.0-Linux/bin/pathracer
SPAdes-4.0.0-Linux/bin/pathracer-seq-fs
SPAdes-4.0.0-Linux/bin/plasmidspades.py
SPAdes-4.0.0-Linux/bin/rnaspades.py
SPAdes-4.0.0-Linux/bin/rnaviralspades.py
SPAdes-4.0.0-Linux/bin/spades-bwa
SPAdes-4.0.0-Linux/bin/spades-convert-bin-to-fasta
SPAdes-4.0.0-Linux/bin/spades-core
SPAdes-4.0.0-Linux/bin/spades-corrector-core
SPAdes-4.0.0-Linux/bin/spades-gbuilder
SPAdes-4.0.0-Linux/bin/spades-gfa-split
SPAdes-4.0.0-Linux/bin/spades-gmapper
SPAdes-4.0.0-Linux/bin/spades-gsimplifier
SPAdes-4.0.0-Linux/bin/spades-hammer
SPAdes-4.0.0-Linux/bin/spades-ionhammer
SPAdes-4.0.0-Linux/bin/spades-kmer-estimating
SPAdes-4.0.0-Linux/bin/spades-kmercount
SPAdes-4.0.0-Linux/bin/spades-read-filter
SPAdes-4.0.0-Linux/bin/spades.py
SPAdes-4.0.0-Linux/bin/spades_init.py
SPAdes-4.0.0-Linux/bin/spaligner
SPAdes-4.0.0-Linux/share/spades/biosynthetic_spades_hmms/AMP.hmm.gz
SPAdes-4.0.0-Linux/share/spades/biosynthetic_spades_hmms/AT.hmm.gz
SPAdes-4.0.0-Linux/share/spades/biosynthetic_spades_hmms/CStart.hmm.gz
SPAdes-4.0.0-Linux/share/spades/biosynthetic_spades_hmms/KR.hmm.gz
SPAdes-4.0.0-Linux/share/spades/biosynthetic_spades_hmms/KS.hmm.gz
SPAdes-4.0.0-Linux/share/spades/biosynthetic_spades_hmms/TE.hmm.gz
SPAdes-4.0.0-Linux/share/spades/configs/corrector/corrector.info
SPAdes-4.0.0-Linux/share/spades/configs/debruijn/careful_mda_mode.info
SPAdes-4.0.0-Linux/share/spades/configs/debruijn/careful_mode.info
SPAdes-4.0.0-Linux/share/spades/configs/debruijn/config.info
SPAdes-4.0.0-Linux/share/spades/configs/debruijn/construction.info
SPAdes-4.0.0-Linux/share/spades/configs/debruijn/detail_info_printer.info
SPAdes-4.0.0-Linux/share/spades/configs/debruijn/distance_estimation.info
SPAdes-4.0.0-Linux/share/spades/configs/debruijn/hmm_mode.info
SPAdes-4.0.0-Linux/share/spades/configs/debruijn/isolate_mode.info
SPAdes-4.0.0-Linux/share/spades/configs/debruijn/large_genome_mode.info
SPAdes-4.0.0-Linux/share/spades/configs/debruijn/mda_mode.info
SPAdes-4.0.0-Linux/share/spades/configs/debruijn/meta_mode.info
SPAdes-4.0.0-Linux/share/spades/configs/debruijn/metaplasmid_mode.info
SPAdes-4.0.0-Linux/share/spades/configs/debruijn/metaviral_mode.info
SPAdes-4.0.0-Linux/share/spades/configs/debruijn/pe_params.info
SPAdes-4.0.0-Linux/share/spades/configs/debruijn/plasmid_mode.info
SPAdes-4.0.0-Linux/share/spades/configs/debruijn/rna_mode.info
SPAdes-4.0.0-Linux/share/spades/configs/debruijn/rnaviral_mode.info
SPAdes-4.0.0-Linux/share/spades/configs/debruijn/sewage_mode.info
SPAdes-4.0.0-Linux/share/spades/configs/debruijn/simplification.info
SPAdes-4.0.0-Linux/share/spades/configs/debruijn/toy.info
SPAdes-4.0.0-Linux/share/spades/configs/hammer/config.info
SPAdes-4.0.0-Linux/share/spades/configs/ionhammer/ionhammer.cfg
SPAdes-4.0.0-Linux/share/spades/coronaspades_hmms/Pfam-A.SARS-CoV-2.hmm.gz
SPAdes-4.0.0-Linux/share/spades/coronaspades_hmms/Phan-CoV.hmm.gz
SPAdes-4.0.0-Linux/share/spades/GPLv2.txt
SPAdes-4.0.0-Linux/share/spades/joblib3/__init__.py
SPAdes-4.0.0-Linux/share/spades/joblib3/__pycache__/__init__.cpython-310.pyc
SPAdes-4.0.0-Linux/share/spades/joblib3/__pycache__/_compat.cpython-310.pyc
SPAdes-4.0.0-Linux/share/spades/joblib3/__pycache__/_memory_helpers.cpython-310.pyc
SPAdes-4.0.0-Linux/share/spades/joblib3/__pycache__/_multiprocessing_helpers.cpython-310.pyc
SPAdes-4.0.0-Linux/share/spades/joblib3/__pycache__/disk.cpython-310.pyc
SPAdes-4.0.0-Linux/share/spades/joblib3/__pycache__/format_stack.cpython-310.pyc
SPAdes-4.0.0-Linux/share/spades/joblib3/__pycache__/func_inspect.cpython-310.pyc
SPAdes-4.0.0-Linux/share/spades/joblib3/__pycache__/hashing.cpython-310.pyc
SPAdes-4.0.0-Linux/share/spades/joblib3/__pycache__/logger.cpython-310.pyc
SPAdes-4.0.0-Linux/share/spades/joblib3/__pycache__/memory.cpython-310.pyc
SPAdes-4.0.0-Linux/share/spades/joblib3/__pycache__/my_exceptions.cpython-310.pyc
SPAdes-4.0.0-Linux/share/spades/joblib3/__pycache__/numpy_pickle.cpython-310.pyc
SPAdes-4.0.0-Linux/share/spades/joblib3/__pycache__/parallel.cpython-310.pyc
SPAdes-4.0.0-Linux/share/spades/joblib3/__pycache__/pool.cpython-310.pyc
SPAdes-4.0.0-Linux/share/spades/joblib3/_compat.py
SPAdes-4.0.0-Linux/share/spades/joblib3/_memory_helpers.py
SPAdes-4.0.0-Linux/share/spades/joblib3/_multiprocessing_helpers.py
SPAdes-4.0.0-Linux/share/spades/joblib3/disk.py
SPAdes-4.0.0-Linux/share/spades/joblib3/format_stack.py
SPAdes-4.0.0-Linux/share/spades/joblib3/func_inspect.py
SPAdes-4.0.0-Linux/share/spades/joblib3/hashing.py
SPAdes-4.0.0-Linux/share/spades/joblib3/logger.py
SPAdes-4.0.0-Linux/share/spades/joblib3/memory.py
SPAdes-4.0.0-Linux/share/spades/joblib3/my_exceptions.py
SPAdes-4.0.0-Linux/share/spades/joblib3/numpy_pickle.py
SPAdes-4.0.0-Linux/share/spades/joblib3/parallel.py
SPAdes-4.0.0-Linux/share/spades/joblib3/pool.py
SPAdes-4.0.0-Linux/share/spades/joblib3/testing.py
SPAdes-4.0.0-Linux/share/spades/LICENSE
SPAdes-4.0.0-Linux/share/spades/pyyaml3/__init__.py
SPAdes-4.0.0-Linux/share/spades/pyyaml3/__pycache__/__init__.cpython-310.pyc
SPAdes-4.0.0-Linux/share/spades/pyyaml3/__pycache__/composer.cpython-310.pyc
SPAdes-4.0.0-Linux/share/spades/pyyaml3/__pycache__/constructor.cpython-310.pyc
SPAdes-4.0.0-Linux/share/spades/pyyaml3/__pycache__/cyaml.cpython-310.pyc
SPAdes-4.0.0-Linux/share/spades/pyyaml3/__pycache__/dumper.cpython-310.pyc
SPAdes-4.0.0-Linux/share/spades/pyyaml3/__pycache__/emitter.cpython-310.pyc
SPAdes-4.0.0-Linux/share/spades/pyyaml3/__pycache__/error.cpython-310.pyc
SPAdes-4.0.0-Linux/share/spades/pyyaml3/__pycache__/events.cpython-310.pyc
SPAdes-4.0.0-Linux/share/spades/pyyaml3/__pycache__/loader.cpython-310.pyc
SPAdes-4.0.0-Linux/share/spades/pyyaml3/__pycache__/nodes.cpython-310.pyc
SPAdes-4.0.0-Linux/share/spades/pyyaml3/__pycache__/parser.cpython-310.pyc
SPAdes-4.0.0-Linux/share/spades/pyyaml3/__pycache__/reader.cpython-310.pyc
SPAdes-4.0.0-Linux/share/spades/pyyaml3/__pycache__/representer.cpython-310.pyc
SPAdes-4.0.0-Linux/share/spades/pyyaml3/__pycache__/resolver.cpython-310.pyc
SPAdes-4.0.0-Linux/share/spades/pyyaml3/__pycache__/scanner.cpython-310.pyc
SPAdes-4.0.0-Linux/share/spades/pyyaml3/__pycache__/serializer.cpython-310.pyc
SPAdes-4.0.0-Linux/share/spades/pyyaml3/__pycache__/tokens.cpython-310.pyc
SPAdes-4.0.0-Linux/share/spades/pyyaml3/composer.py
SPAdes-4.0.0-Linux/share/spades/pyyaml3/constructor.py
SPAdes-4.0.0-Linux/share/spades/pyyaml3/cyaml.py
SPAdes-4.0.0-Linux/share/spades/pyyaml3/dumper.py
SPAdes-4.0.0-Linux/share/spades/pyyaml3/emitter.py
SPAdes-4.0.0-Linux/share/spades/pyyaml3/error.py
SPAdes-4.0.0-Linux/share/spades/pyyaml3/events.py
SPAdes-4.0.0-Linux/share/spades/pyyaml3/loader.py
SPAdes-4.0.0-Linux/share/spades/pyyaml3/nodes.py
SPAdes-4.0.0-Linux/share/spades/pyyaml3/parser.py
SPAdes-4.0.0-Linux/share/spades/pyyaml3/reader.py
SPAdes-4.0.0-Linux/share/spades/pyyaml3/representer.py
SPAdes-4.0.0-Linux/share/spades/pyyaml3/resolver.py
SPAdes-4.0.0-Linux/share/spades/pyyaml3/scanner.py
SPAdes-4.0.0-Linux/share/spades/pyyaml3/serializer.py
SPAdes-4.0.0-Linux/share/spades/pyyaml3/tokens.py
SPAdes-4.0.0-Linux/share/spades/README.md
SPAdes-4.0.0-Linux/share/spades/sewage/usher_barcodes.csv
SPAdes-4.0.0-Linux/share/spades/spades_pipeline/__pycache__/commands_parser.cpython-310.pyc
SPAdes-4.0.0-Linux/share/spades/spades_pipeline/__pycache__/options_parser.cpython-310.pyc
SPAdes-4.0.0-Linux/share/spades/spades_pipeline/__pycache__/options_storage.cpython-310.pyc
SPAdes-4.0.0-Linux/share/spades/spades_pipeline/__pycache__/options_storage.cpython-37.pyc
SPAdes-4.0.0-Linux/share/spades/spades_pipeline/__pycache__/process_cfg.cpython-310.pyc
SPAdes-4.0.0-Linux/share/spades/spades_pipeline/__pycache__/support.cpython-310.pyc
SPAdes-4.0.0-Linux/share/spades/spades_pipeline/__pycache__/support.cpython-37.pyc
SPAdes-4.0.0-Linux/share/spades/spades_pipeline/commands_parser.py
SPAdes-4.0.0-Linux/share/spades/spades_pipeline/common/__init__.py
SPAdes-4.0.0-Linux/share/spades/spades_pipeline/common/__pycache__/__init__.cpython-310.pyc
SPAdes-4.0.0-Linux/share/spades/spades_pipeline/common/__pycache__/__init__.cpython-37.pyc
SPAdes-4.0.0-Linux/share/spades/spades_pipeline/common/__pycache__/SeqIO.cpython-310.pyc
SPAdes-4.0.0-Linux/share/spades/spades_pipeline/common/__pycache__/SeqIO.cpython-37.pyc
SPAdes-4.0.0-Linux/share/spades/spades_pipeline/common/alignment.py
SPAdes-4.0.0-Linux/share/spades/spades_pipeline/common/parallel_launcher.py
SPAdes-4.0.0-Linux/share/spades/spades_pipeline/common/sam_parser.py
SPAdes-4.0.0-Linux/share/spades/spades_pipeline/common/SeqIO.py
SPAdes-4.0.0-Linux/share/spades/spades_pipeline/executors/__pycache__/executor_local.cpython-310.pyc
SPAdes-4.0.0-Linux/share/spades/spades_pipeline/executors/__pycache__/executor_save_yaml.cpython-310.pyc
SPAdes-4.0.0-Linux/share/spades/spades_pipeline/executors/__pycache__/executors.cpython-310.pyc
SPAdes-4.0.0-Linux/share/spades/spades_pipeline/executors/executor_local.py
SPAdes-4.0.0-Linux/share/spades/spades_pipeline/executors/executor_save_yaml.py
SPAdes-4.0.0-Linux/share/spades/spades_pipeline/executors/executors.py
SPAdes-4.0.0-Linux/share/spades/spades_pipeline/options_parser.py
SPAdes-4.0.0-Linux/share/spades/spades_pipeline/options_storage.py
SPAdes-4.0.0-Linux/share/spades/spades_pipeline/process_cfg.py
SPAdes-4.0.0-Linux/share/spades/spades_pipeline/scripts/breaking_scaffolds_script.py
SPAdes-4.0.0-Linux/share/spades/spades_pipeline/scripts/check_test_script.py
SPAdes-4.0.0-Linux/share/spades/spades_pipeline/scripts/compress_all.py
SPAdes-4.0.0-Linux/share/spades/spades_pipeline/scripts/copy_files.py
SPAdes-4.0.0-Linux/share/spades/spades_pipeline/scripts/correction_iteration_script.py
SPAdes-4.0.0-Linux/share/spades/spades_pipeline/scripts/plasmid_glue.py
SPAdes-4.0.0-Linux/share/spades/spades_pipeline/scripts/preprocess_contigs.py
SPAdes-4.0.0-Linux/share/spades/spades_pipeline/scripts/preprocess_interlaced_reads.py
SPAdes-4.0.0-Linux/share/spades/spades_pipeline/stages/__init__.py
SPAdes-4.0.0-Linux/share/spades/spades_pipeline/stages/__pycache__/__init__.cpython-310.pyc
SPAdes-4.0.0-Linux/share/spades/spades_pipeline/stages/__pycache__/before_start_stage.cpython-310.pyc
SPAdes-4.0.0-Linux/share/spades/spades_pipeline/stages/__pycache__/breaking_scaffolds_stage.cpython-310.pyc
SPAdes-4.0.0-Linux/share/spades/spades_pipeline/stages/__pycache__/check_test_stage.cpython-310.pyc
SPAdes-4.0.0-Linux/share/spades/spades_pipeline/stages/__pycache__/correction_stage.cpython-310.pyc
SPAdes-4.0.0-Linux/share/spades/spades_pipeline/stages/__pycache__/error_correction_stage.cpython-310.pyc
SPAdes-4.0.0-Linux/share/spades/spades_pipeline/stages/__pycache__/pipeline.cpython-310.pyc
SPAdes-4.0.0-Linux/share/spades/spades_pipeline/stages/__pycache__/preprocess_reads_stage.cpython-310.pyc
SPAdes-4.0.0-Linux/share/spades/spades_pipeline/stages/__pycache__/spades_iteration_stage.cpython-310.pyc
SPAdes-4.0.0-Linux/share/spades/spades_pipeline/stages/__pycache__/spades_stage.cpython-310.pyc
SPAdes-4.0.0-Linux/share/spades/spades_pipeline/stages/__pycache__/stage.cpython-310.pyc
SPAdes-4.0.0-Linux/share/spades/spades_pipeline/stages/__pycache__/terminating_stage.cpython-310.pyc
SPAdes-4.0.0-Linux/share/spades/spades_pipeline/stages/before_start_stage.py
SPAdes-4.0.0-Linux/share/spades/spades_pipeline/stages/breaking_scaffolds_stage.py
SPAdes-4.0.0-Linux/share/spades/spades_pipeline/stages/check_test_stage.py
SPAdes-4.0.0-Linux/share/spades/spades_pipeline/stages/correction_stage.py
SPAdes-4.0.0-Linux/share/spades/spades_pipeline/stages/error_correction_stage.py
SPAdes-4.0.0-Linux/share/spades/spades_pipeline/stages/pipeline.py
SPAdes-4.0.0-Linux/share/spades/spades_pipeline/stages/preprocess_reads_stage.py
SPAdes-4.0.0-Linux/share/spades/spades_pipeline/stages/scaffold_correction_stage.py
SPAdes-4.0.0-Linux/share/spades/spades_pipeline/stages/spades_iteration_stage.py
SPAdes-4.0.0-Linux/share/spades/spades_pipeline/stages/spades_stage.py
SPAdes-4.0.0-Linux/share/spades/spades_pipeline/stages/stage.py
SPAdes-4.0.0-Linux/share/spades/spades_pipeline/stages/terminating_stage.py
SPAdes-4.0.0-Linux/share/spades/spades_pipeline/support.py
SPAdes-4.0.0-Linux/share/spades/test_dataset/ecoli_1K_1.fq.gz
SPAdes-4.0.0-Linux/share/spades/test_dataset/ecoli_1K_2.fq.gz
SPAdes-4.0.0-Linux/share/spades/test_dataset/genes_1K.gff
SPAdes-4.0.0-Linux/share/spades/test_dataset/genes_1K.txt
SPAdes-4.0.0-Linux/share/spades/test_dataset/operons_1K.gff
SPAdes-4.0.0-Linux/share/spades/test_dataset/operons_1K.txt
SPAdes-4.0.0-Linux/share/spades/test_dataset/reference_1K.fa.gz
SPAdes-4.0.0-Linux/share/spades/test_dataset_plasmid/pl1.fq.gz
SPAdes-4.0.0-Linux/share/spades/test_dataset_plasmid/pl2.fq.gz
SPAdes-4.0.0-Linux/share/spades/VERSION
SPAdes-4.0.0-Linux/share/spaligner/spaligner_config.yaml
.snakemake/log/2025-01-09T113713.741941.snakemake.log
.snakemake/log/2025-01-09T113804.971512.snakemake.log
.snakemake/log/2025-01-09T113925.777576.snakemake.log
.snakemake/log/2025-01-09T114110.931477.snakemake.log
.snakemake/log/2025-01-09T114334.884749.snakemake.log
.snakemake/log/2025-01-09T133319.558898.snakemake.log
.snakemake/log/2025-01-09T134357.664249.snakemake.log
.snakemake/log/2025-01-09T134444.415770.snakemake.log
.snakemake/log/2025-01-09T154859.198424.snakemake.log
.snakemake/log/2025-01-09T154921.577784.snakemake.log
.snakemake/log/2025-01-09T155147.429697.snakemake.log
.snakemake/log/2025-01-09T155200.256966.snakemake.log
.snakemake/log/2025-01-09T155247.083420.snakemake.log
.snakemake/log/2025-01-09T155311.159857.snakemake.log
.snakemake/log/2025-01-09T155406.229505.snakemake.log
.snakemake/log/2025-01-10T105957.397910.snakemake.log
.snakemake/metadata/cmVzdWx0cy9mYXN0cC9FUlI5OTIyOTM3X2Zhc3RwLmh0bWw=
.snakemake/metadata/cmVzdWx0cy9mYXN0cC9FUlI5OTIyOTM3X2Zhc3RwLmpzb24=
.snakemake/metadata/cmVzdWx0cy9mYXN0cC9FUlI5OTIyOTM3X2ZpbHRlcmVkXzEuZmFzdHEuZ3o=
.snakemake/metadata/cmVzdWx0cy9mYXN0cC9FUlI5OTIyOTM3X2ZpbHRlcmVkXzIuZmFzdHEuZ3o=
.snakemake/metadata/cmVzdWx0cy9mYXN0cC9FUlI5OTIyOTMzX2Zhc3RwLmh0bWw=
.snakemake/metadata/cmVzdWx0cy9mYXN0cC9FUlI5OTIyOTMzX2Zhc3RwLmpzb24=
.snakemake/metadata/cmVzdWx0cy9mYXN0cC9FUlI5OTIyOTMzX2ZpbHRlcmVkXzEuZmFzdHEuZ3o=
.snakemake/metadata/cmVzdWx0cy9mYXN0cC9FUlI5OTIyOTMzX2ZpbHRlcmVkXzIuZmFzdHEuZ3o=
.snakemake/metadata/cmVzdWx0cy9mYXN0cWMvRVJSOTkyMjkzM18xX2Zhc3RxYy56aXA=
.snakemake/metadata/cmVzdWx0cy9mYXN0cWMvRVJSOTkyMjkzM18xX2Zhc3RxYy5odG1s
.snakemake/metadata/cmVzdWx0cy9mYXN0cWMvRVJSOTkyMjkzM18yX2Zhc3RxYy56aXA=
.snakemake/metadata/cmVzdWx0cy9mYXN0cWMvRVJSOTkyMjkzM18yX2Zhc3RxYy5odG1s
.snakemake/metadata/cmVzdWx0cy9mYXN0cWMvRVJSOTkyMjkzN18xX2Zhc3RxYy56aXA=
.snakemake/metadata/cmVzdWx0cy9mYXN0cWMvRVJSOTkyMjkzN18xX2Zhc3RxYy5odG1s
.snakemake/metadata/cmVzdWx0cy9mYXN0cWMvRVJSOTkyMjkzN18yX2Zhc3RxYy56aXA=
.snakemake/metadata/cmVzdWx0cy9mYXN0cWMvRVJSOTkyMjkzN18yX2Zhc3RxYy5odG1s
.snakemake/metadata/cmVzdWx0cy9mYXN0cWNyZXJ1bi9FUlI5OTIyOTM3X2ZpbHRlcmVkXzFfZmFzdHFjLmh0bWw=
.snakemake/metadata/cmVzdWx0cy9mYXN0cWNyZXJ1bi9FUlI5OTIyOTM3X2ZpbHRlcmVkXzFfZmFzdHFjLnppcA==
.snakemake/metadata/cmVzdWx0cy9mYXN0cWNyZXJ1bi9FUlI5OTIyOTM3X2ZpbHRlcmVkXzJfZmFzdHFjLmh0bWw=
.snakemake/metadata/cmVzdWx0cy9mYXN0cWNyZXJ1bi9FUlI5OTIyOTM3X2ZpbHRlcmVkXzJfZmFzdHFjLnppcA==
.snakemake/metadata/cmVzdWx0cy9mYXN0cWNyZXJ1bi9FUlI5OTIyOTMzX2ZpbHRlcmVkXzFfZmFzdHFjLmh0bWw=
.snakemake/metadata/cmVzdWx0cy9mYXN0cWNyZXJ1bi9FUlI5OTIyOTMzX2ZpbHRlcmVkXzFfZmFzdHFjLnppcA==
.snakemake/metadata/cmVzdWx0cy9mYXN0cWNyZXJ1bi9FUlI5OTIyOTMzX2ZpbHRlcmVkXzJfZmFzdHFjLmh0bWw=
.snakemake/metadata/cmVzdWx0cy9mYXN0cWNyZXJ1bi9FUlI5OTIyOTMzX2ZpbHRlcmVkXzJfZmFzdHFjLnppcA==
